// Specific CSS for your home-page
body {
  background-image: asset-url(leaves);
  background-size:cover;
  // background-size: 100% auto;
  color:white;
}

.box-home {
  display:flex;
  align-items: center;
  justify-content:center;
  height:100%;
}

.box-home div {
  margin-top:200px;
  text-align: center;
}

